---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
  description: string
  image?: string
  next?: string
  prev?: string
  canonicalURL?: string
}

const { title, description, image, next, prev, canonicalURL } =
  Astro.props as Props
---

<html lang="de">
  <head>
    <Head {title} {description} {image} {next} {prev} {canonicalURL} />
  </head>

  <body>
    <Header />

    <main id="swup" class="wrapper">
      <slot />
    </main>
    <Footer />
  </body>
</html>
