---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
  description: string
  image?: string
  next?: string
  prev?: string
}

const { title, description, image, next, prev } = Astro.props as Props
---

<html lang="de">
  <head>
    <Head
      title={title}
      description={description}
      image={image}
      next={next}
      prev={prev}
    />
  </head>

  <body>
    <Header />

    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: sans-serif;
    color: var(--text);
    background: var(--background);
  }
  main {
    display: block;
    flex: 1;
  }
</style>